{{#if success_msg}}
    <div class="card green lighten-4 z-index-2 mgt-15 pd-5 success_msg">
        <div class="container center-align">
            {{success_msg}}
        </div>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="card red lighten-4 z-index-2 mgt-15 pd-5 error_msg">
        <div class="container center-align">
            {{error_msg}}
        </div>
    </div>
{{/if}}
